body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    background-color: darkgreen;

}
title{

   letter-spacing: 1.3em;
}

/*GLOBAL*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;

}

ul{

    color: black;
    margin:0;
    padding:0;
}

.button_1{
    height: 38px;
    background: grey;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:white;

}

.dark{
    padding:15px;
    background: darkgreen;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}
/*HEADER*/

header{
    background: green;
    color: #fff;
    padding-top:30px;
    min-height:100px;
    border-bottom: forestgreen 8px solid;


}

header h1{


    font-size: 30px;
    letter-spacing: 0.1em;
}

showcase h1 {

    letter-spacing: 0.2em;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/*  hover */
.fa:hover {
    opacity: 0.7;
}


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}


.fa-linkedin{
    background:  #3B5998;
    color: white
}
.fa-email{
    background: #55ACEE;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#logo img{

    position: absolute;
    left: 40px;
    width: 80px;
    height: 60px;
    top: 20px;
    border: none;
    overflow: auto;
    border: black 3px solid;
    
    
}

#liz img{

    padding: 200px;
    margin:auto;
    top: 300px;
    right: 150px;
    border: none;
    overflow: auto;
    width: 250px;
    height: 300px;
}

/*LINKS*/

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;

}

header h1 a:hover{

    background:green;
    background-size: 200px;
    color:black;
    font-weight: bold;
}

header ul{

    padding:0;
    margin:0;
    background-color: #f1f1f1;

}

header li{

    float:left;
    display: inline;
    padding: 0px 20px 0px 20px;

}

header li a {
    display: block;
    color: #000;
    text-decoration: none;
}

header #branding {

    float: left;

}

header #branding h1{

    margin: 0;

}

header nav{

    float: right;
    margin-top:10px;
}


header a:hover{
    background:green;
    background-size: 200px;
    color:white;
    font-weight: bold;
}

/*SHOWCASE*/
#showcase{
    min-height:400px;
    background-image:url(Images/MAIN.jpg);
    text-align:center;
    color:black;

}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;

}

#showcase p{
    font-size: 20px;
}
/*newsletter */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=submit]{

    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=text]:focus {
    border: 3px solid #555;
}

#newsletter{

    width:100%;
    padding:15px;
    color:#fff;
    background: green;

}

#newsletter h1{

    text-align: center;
    color:black;
  
  
}

#newsletter form{
    
    align-content: center;
    padding: 0px 200px 0px 200px;

}
 
#newsletter input [type="email"]{
    padding:4px;
    height:25px;
    width:250px;

}
#newletter input [type="submit"]{

    size: 2000px
}



/*boxes*/

#boxes{

    margin-top: 20px;

}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    align-content:center;
}

#boxes .box img{
    width: 90px;

}

#boxes h3{

    text-decoration: none;
    font-size: 16px;
    text-align: center;
}
/*sidebar*/

aside#sidebar{
  

 padding:20px;
margin: auto;
 text-align: center;
}

aside#sidebar .quote input,aside#sidebar .quote textarea,{
    width: 90%;
    padding: 5px;
}

/*maincol*/

article#costs{

    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    color:white;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.2em;
    font-size: 16px;
    background-color: #555;
    background-image: url(Images/forest.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 400px;
    min-height: 400px;
    min-width: 400px;
    text-align: center;
}


article#main-col{
   margin: auto;
    width: 65%;
    color: white;
    letter-spacing: .1em;
    font-size: 12px;
    object-position: center;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:grey;
}



.topnav a:hover {
  background-color: #ddd;
  color: black;
  border: black 3px solid;
}




.topnav .search-container {

    margin: auto;

}

.topnav input[type=text] {

    text-align: center;

}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 1px;
  margin-right: 1px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  
}

.topnav text{

    text-align: center;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

article#main-col-about{

     width: 65%;
     color: white;
     letter-spacing: .1em;
     font-size: 12px;
     object-position: center;
     text-align: center;
     margin: auto;
 }

 article#main-col-contact{

    width: 65%;
    color: white;
    letter-spacing: .1em;
    font-size: 12px;
    object-position: center;
    text-align: center;
    margin: auto;
}

article#main-col h1{
 
    letter-spacing: 0.3em;
    font-size: 20px;
    padding: 20px;
    margin:20px;
    text-decoration:none;
    text-align: center;
    color: white;
    text-underline-position: below;
}

article#main-loc {

    color: white;
    text-align: center;
    object-position: center;
    
}

article#main-loc h1{

    text-align: center;
}

#main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*about*/




/*courses*/

ul#courses li{

    list-style:none;
    padding:20px;
    border: lightblue 1px solid;
    margin-bottom: 5px;
    background:forestgreen;
    text-align: center;
    color: white;
    font-style:italic;


}
#page-title h1{


    font-size: 100px
}

ul#courses li:hover{

    border: 3px solid #555;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: green;
    text-align: center
}

@media(max-width: 750px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    newsletter form{
        float:none;
        text-align: center;
        width: 100%;
        }

        header{
            padding-bottom: 20px;
        }

        #showcase h1{
            margin-top: 40px;
        }
        #newsletter button{

            display: block;
            width: 100%
        }
        #newsletter form input[type="email"]{
            width:100%;
            margin-bottom: 5px;

        }
    body{
        display: none;
    }
}